<!-- Page Content -->
<div id="page-content-wrapper">

  <nav class="mainNavBar navbar navbar-expand-lg navbar-light bg-light border-bottom d-none d-lg-block">
    <button class="btnNavbar btn btn-info fas fa-angle-double-left" id="menu-toggle"></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



  </nav>